.basket_container {
  margin: 0 auto;
  height: 500px;
  margin-top: 10rem;
  justify-content: center;
  background-color: white;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 10px;
  /* align-items: center; */
}
