.basket_container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  margin-top: 10rem;
  background-color: white;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 5px;
  color: rgba(61, 80, 149, 1);
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  font-weight: 700;
}

.basket_container h1 {
  margin-bottom: 2rem;
}

.basket_titles {
  display: flex;
  justify-content: space-around;
  margin-left: 10rem;
}

.basket_titles p {
  margin-right: 2rem;
}

.basket_titles p:not(:nth-child(5)) {
  margin-left: 0;
}

.line {
  margin: 2rem auto;
  height: 1px;
  background-color: rgba(61, 80, 149, 1);
}

.total_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 55rem;
  width: 100%;
}

.item_name {
  width: 15rem;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

.quantity {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  width: 3rem;
}

.remove_basket,
.add_basket {
  user-select: none;
  cursor: pointer;
  font-size: clamp(0.8rem, 2vw, 2rem);
}

.remove_basket:hover {
  color: red;
}

.add_basket:hover {
  color: green;
}

.links_basket {
  max-width: 1000px;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.basket_link {
  background-color: rgba(61, 80, 149, 1);
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

.basket_link:hover {
  filter: brightness(1.3);
}

@media (max-width: 1000px) {
  .basket_container,
  .links_basket {
    width: 90%;
  }
}
