.basket_container {
  margin: 0 auto;
  height: 420px;
  width: 800px;
  margin-top: 10rem;
  justify-content: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  border: 1px solid grey;
  border-radius: 10px;
  color: rgba(61, 80, 149, 1);
  font-size: 1.5rem;
  font-weight: 700;
}

.links_basket {
  width: 865px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
}

.basket_link {
  background-color: rgba(61, 80, 149, 1);
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  text-decoration: none;
}

.basket_link:hover {
  filter: brightness(1.3);
}

.remove_basket p:hover {
  color: red;
  cursor: pointer;
}

.add_basket p:hover {
  color: green;
  cursor: pointer;
}
