.item_container {
  background-color: white;
  margin: 3rem 2rem;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0) 80%,
    rgba(61, 80, 149, 1) 90%
  );
  border: 2px solid silver;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: grey;
  cursor: pointer;
  text-decoration: none;
  max-width: 250px;
  width: 100%;
  height: 400px;
}

.item_price {
  font-size: clamp(0.8rem, 1.6vw, 1.6rem);
}

.item_container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(0.8rem, 1.6vw, 1.6rem);
  color: whitesmoke;
}

.item_container img {
  margin-top: 3rem;
  height: 50%;
}

.item_container span {
  font-size: 2rem;
  color: rgba(61, 80, 149, 1);
}

.item_container a {
  border-top: 1px solid white;
  text-decoration: none;
}

.item_container h2:hover {
  color: silver;
}

@media (max-width: 800px) {
  .item_container {
    margin: 3rem auto;
  }
}
