.nav_container {
  background: rgba(61, 80, 149, 1);
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border-bottom: 0.4rem solid silver;
  font-weight: 100;
  font-size: clamp(1rem, 2vw, 1.3rem);
  letter-spacing: 0.2rem;
}

.nav_container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.nav_container li {
  list-style-type: none;
  cursor: pointer;
}

.nav_container a:hover {
  color: silver;
}

.nav_container a {
  text-decoration: none;
  color: white;
}

@media (max-width: 500px) {
  .nav_container ul {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
